// ========================================
//
// @file _base.scss
// Base level tags and styles
//
// ========================================

// Importing typography
@import "typography";


html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto 0;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  transition: 0.4s;
}